<header role="banner" class="header clearfix">

  <div class="header__topper p2 center">
    <h1>Spotifind</h1>
    <p>
      Find music on Spotify, on the Web.
    </p>
  </div>

  <div class="header__searchfield clearfix p4">
    <div class="table">
      <div class="table-cell">
        {{input type="text" placeholder="Just type here" value=newSearch insert-newline="newSearch" autofocus="autofocus"}}
        <button {{action "newSearch"}} {{bind-attr disabled=disabled}}>Search</button>
      </div>
    </div>
  </div>

  <div class="header__searches center p3 py4">
    <div class="table">
      <div class="table-cell">
        <div class="header__searches__previous">
          <h4>Previous searches</h4>
          <ul class="p2">
            {{#each model}}
              {{#link-to "search.results" this }}
                {{query}}
                <button {{action "removeSearch" this }}>X</button>
              {{/link-to}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
</header>




{{outlet}}
